<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <style>
        /*p {margin-left:120px;}*/

        body {background-image: url("/images/images.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}
    </style>
</head>
<body>
<h1> Smoothie recipe </h1>
<!--<ol >-->
    <!--<li><a></a> href="recipe"1 cup frozen mango chunks.<a/></li>-->
    <!--<li>1 cup frozen strawberries.</li>-->
    <!--<li>1 cup ice.</li>-->
    <!--<li>1 frozen banana, sliced.</li>-->
    <!--<li>1/2 cup milk.</li>-->
    <!--<li>1/2 cup water.</li>-->
    <!--<li>1/4 cup orange juice.</li>-->
    <!--<li>1/4 cup plain Greek yogurt.</li>-->
<!--</ol>-->
<a href="/recipe"> 1 cup frozen mango chunks.</a><br/>
<a href="/recipe1">visit 1 cup frozen strawberries.</a><br/>
<a href="/recipe2">1 cup ice.</a><br/>
<a href="/recipe3">1 frozen banana, sliced.</a><br/>
<a href="/recipe4">1/2 cup milk.</a><br/>
</ol>

</body>
</html>